<ion-view title="Users">
	<div class = "bar bar-header bar-positive"> 
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button> 
		<h1 class = "title">Users</h1>
	</div>
	<ion-content padding="true" class="appSpacingTop odr-lst get-users has-header">
		<button class="button button-icon icon ion-android-add-circle" ng-click="addUser()"></button>
		<ion-list>  
				<div class="items items-head">
				<!-- <h3 class="col-25">Id</h3> -->
				<h3 class="col-60">Name(Email)</h3><h3 class="col-40 h-align-r">Action</h3></div>         
				<ion-item ng-repeat="item in items" ng-if="item.id"  class="col-12">
					<div class="loc-items" ng-if="item.msg=='founded'">
					   <!-- <div class="pull-left col-20 loc-head">
							<h3 ng-click="editUser({{item.id}},{{item.user_id}})">{{item.user_id}}</h3>
						</div> -->
						<div class="pull-left col-60 loc-head">
							<h3 ng-click="editUser({{item.id}},{{item.user_id}})">{{item.user_name}}</h3>
							<h3 ng-click="editUser({{item.id}},{{item.user_id}})">({{item.user_email}})</h3>
						</div>
						<div class="pull-right col-40 action-sec">
							<h3 class="text-align-r align-r action-link" ng-click="editUser({{item.id}},{{item.user_id}})">Edit</h3>
							<h3 class="text-align-r align-r action-link" ng-click="showPopup({{item.user_id}})">Delete</h3>
						</div>
					</div>
					
					<div class="no-ordrs" style="z-index: 1000;" ng-if="item.msg=='No record found'"><h3>{{item.msg}}</h3></div> 
				</ion-item> 
				
				<div class="loc-items" ng-if="errMsg=='No record found'">
					<div class="no-ordrs"><h3 class="item">{{errMsg}}</h3></div> 
				</div>
				
				<div class="no-ordrs" style="z-index: 1000;" ng-if="item.msg=='No record found'"><h3>{{item.msg}}</h3></div> 
				 
		</ion-list>
	</ion-content> 
	 
	<div class="tabs tabs-icon-top">
		<a class="tab-item" href="#/app/orderList=pending"><i class="icon ion-alert-circled"></i>Pending</a>
	   <a class="tab-item" href="#/app/orderList=all"><i class="icon ion-android-done-all"></i>All</a>
		<a class="tab-item" href="#/app/userProfile"><i class="icon ion-person"></i>Profile</a>
	</div>
</ion-view> 
