body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}
img {

    max-width: 100%;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

  color: #fff;

}

a { 

	color: #9198ae;

	text-decoration: none;

	font-family: "montserratlight";

}

.pane, .view, .card, .list-inset, .item, .modal {

  background: #282f47;

  color: #fff;

}

.bar.bar-positive { 

	background: #4e5773;

	border-color: #4e5773;

}

.entryCustom h3 {

  width: 100%;

  font-family: 'montserratbold';

  font-size: 15px;

  text-transform: uppercase;

  margin-bottom: 0px;

}

.noBorder {

    border: none !important;

}

.noBottomBorder { 

	border-bottom: none;

}

.noBorder .item-radio {

  border: none;

}

.entryCustom .item-radio .item-content {

  background: none !important;

  padding: 0;

}

.entryCustom .item-input {

  border-radius: 50px;

  border: 1px solid #4e5773;

  color: #7382b6;

  margin-bottom: 15px;

}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {

  color: #7382b6;

  background: none;

}

.input-label { 

	color: #fff;

}

.onezone-datepicker-selection-button, .onezone-datepicker-navigation-arrow { 

	color: #ee4e5a !important;

}

.onezone-datepicker-active-day, .onezone-datepicker-active-day:hover { 

	border-color: #ee4e5a !important;

}

.entryCustom .icon {

  margin-right: 10px;

  font-size: 24px;

}

.entryCustom .icon small { 

	font-family: "montserratlight";

    font-size: 14px;

    padding-left: 10px;

    vertical-align: middle;

}

.entryCustom .item-radio img {

  max-width: 50%;

}

.entryCustom h3 {

  color: #7382b6;

}

h1 {

  font-family: 'montserratultra_light';

  font-size: 27px;

}

h1 small { 

	font-size: 70%;

	clear: both;

	display: inline-block;

}

.slider-slides {

  background: url(../img/background.jpg);

}

.slider-slide {

  position: relative;

}

.fullCenter {

  font-size: 14px;

  line-height: 1.8;

  position: absolute;

  top: 50%;

  left: 50%;

  width: 100%;

  padding: 40px 20px;

  text-align: center;

  color: #b8c5f3;

  -webkit-transform: translate(-50%,-50%);

  -moz-transform: translate(-50%,-50%);

  transform: translate(-50%,-50%);

}

.fullCenter h3 {

  font-family: "montserratultra_light";

  color: #fff;

  margin-bottom: 20px;

  font-size: 35px;

  padding: 0 20px;

}

.fullCenter p {

  margin-bottom: 20px;

}

.button-theme {

  color: #fff !important;

  font-family: 'montserratbold';

  text-transform: uppercase;

  font-size: 16px;

  letter-spacing: 1px;

  background: -webkit-linear-gradient(to right, #ed485f, #f27c36);

  background: -moz-linear-gradient(to right, #ed485f, #f27c36);

  background: linear-gradient(to right, #ed485f, #f27c36);

}

.slider-pager .slider-pager-page i {

  color: #fff;

  opacity: 1;

}

.slider-pager .slider-pager-page.active i {

  color: #ed495e;

}

.appSpacingTop {

  padding-top: 30px;

}

.appSpacingBottom {  

	padding-bottom: 30px;

}

.redirect {

    color: #d3daf4;

    font-family: "montserratlight";

    font-size: 16px;

    font-style: italic;

}

.redirect a {

  text-decoration: none;

  color: #f27a38;

}

.radio-content { 

	text-align: center;

}

.item-radio input:checked + .radio-content .radio-icon { 

	background: url(../img/selected.png) no-repeat center center;	

	background-size: 20px;

	left: 50%;

	top: 0px;

}

.item-radio input:checked + .radio-content .radio-icon:before { 

	content: "";

}

.tabs-bottom .tabs {

    bottom: 0;

    top: auto;

}

.item-select select { 

	background: none;

	color: #7382b6;

}

.item-select::after { 

	color: #7382b6;

}

.item { 

	border-color: #4e5773;

	font-size: 15px;

	font-family: "montserratultra_light";

}

.pane, .view, .card, .list-inset, .item { 

	color: #7382b6;

}

.popup-container .popup { 

	background: #282f47;

	border: 1px solid #4e5773;

	border-radius: 5px;

}

.popup-title {

    color: #7382b6;

    font-family: "montserratbold";

    font-size: 14px;

    text-transform: uppercase;

}

.popup-head { 

	border: none;

}

.popup-body { 

	text-align: center;

	color: #7382b6;

}

.button.button-positive { 

	background: #ed485f !important;

	font-family: "montserratbold";

	letter-spacing: 1px;

}

.col-offset-16 { 

	margin-left: 16.3333%;	

}

.chooseDay .col { 

	margin-bottom: 30px;

}

.chooseDay.entryCustom .item-radio img {

    max-width: 80%;

}

.chooseDay .item-radio input:checked + .radio-content .radio-icon { 

	left: 0px;

	right: auto;

	background-position: center top;

	background-size: 25px;

}

.entryCustom .item-textarea {

    border-radius: 3px;

}

.entryCustom .item-textarea textarea {

    background: none;

    height: 120px;

    resize: none;

}

.statusLabel {

    color: #ffffff;

    font-family: "montserratultra_light";

    font-size: 20px;

    padding-bottom: 10px;

}  

.checkBox.noBorder.item { 

	padding-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

}

.checkBox.noBorder .item-checkbox { 

	border: none;

    font-size: 14px;

	font-family: 'montserratregular';

}
.item-select ion-select { 
	-moz-appearance: none;
    background: none;
    border: medium none;
    bottom: 0;
    color: #7382b6;
    cursor: pointer;
    direction: rtl;
    font-size: 14px;
    max-width: 65%;
    padding: 0 48px 0 16px;
    position: absolute;
    right: 0;
    text-indent: 0.01px;
    text-overflow: "";
    top: 0;
    white-space: nowrap;
}

#order_stats {
    /* text-align: right; */
    text-transform: uppercase;
}

.list .ng-binding{
    width: 33.33%;
    float: left;
}
.prodct-detls .ng-binding{
	float: none;	
}

.items-head h3 {
    float: left;
    padding: 16px; 
    width: 33.33%;
    font-size: 18px;
	margin: 0;
}
 
.list .col-6{
	width:50%;
	float: left;
}
.list .col-12,.decline-ords .col-12{
	width:100%;
	float: left;
}
.text-align-r{
	text-align: right;
	text-transform: capitalize;
}

.ord-sec-1,.ord-sec-2,.ord-sec-3,.ord-sec-4,.ord-sec-5,.ord-sec-6{
	margin-bottom: 18px;
}

.ord-sec-5 .ng-binding{
	float:none; 
}
.list .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
	color:#fff;
}

.list .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #eceeef;
	text-align:left;
}

.list .table td, .list .table th {
    padding: 10px 38px 0px 2px; 
    border-top: 0px solid #eceeef;
}

.list .item h3{
	margin: 0 0 13px 0;
} 

.ord-sec-5, .ord-sec-6{
	margin-top: 26px;
}

.ord-sec-6 p{
	color:#fff;
	
}

.accp-dec-sec button {
    padding: 6px;
    text-align: center; 
    color: #fff;
}

.accept-ordr{  
    /* background: #008000; 
	border: 1px solid #008000;
	*/
    background: linear-gradient(to right,#188B48, #39B939 )aliceblue; 
	background: -webkit-linear-gradient(to right, #188B48, #39B939);
	background: -moz-linear-gradient(to right, #188B48, #39B939);
	background: linear-gradient(to right, #188B48, #39B939); 
	
}

/* .decline-ordr {  
    background: #ef473a; 
	border: 1px solid #ef473a;
} */

.list .item .col-12,.list .table th{ 
    font-weight: 600;
}

.voucher_cd{
	color:#fff;
}

.no-ordrs .ng-binding{
	width:100%;
	text-align:center;
	text-transform:capitalize;
}

.main-logo{
	margin: 28px;
	text-align: center;
}


.decline-ords .item.item-radio{
	height: 29px;
    width: 100%;
    float: left;
    border: none;
    padding-bottom: 32px;
    padding-top: 10px;
    font-size: 15px;
    color: #fff;
}

.decline-ords .input-label{
	float: left;
	text-align: left;
}

.decline-ords h3{
	/* margin-bottom: 11px; */
	padding: 17px;
	color:#fff;
}

.decline-ords ion-item.item {
    border: none; 
}

ion-list#decline-resn h3{
    margin: 0;
    padding: 0;
}

.decline-options .item-content{
	float: left;
}
.decline-options{
	padding-left: 17px;
	padding-right: 17px;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated{
	background-color: transparent;
}

textarea#decline_dscription {
    border: 1px solid #fff;
    margin-top: 11px;
    padding: 6px;
	margin-bottom: 25px;
	width: 100%;
}

.dcln-cstm{
	margin-bottom: 12px;
}

.msg-alrt{
	margin-bottom: 24px;
    color: aliceblue;
}

.sticky-acpt, .sticky-dcln{
	width: 100%;
    max-width: 150px;
}
 
.decline-options .item-radio input:checked + .radio-content .radio-icon { 

	background: url(../img/ok-green.png) no-repeat center center;	

	background-size: 20px;

	left: 50%;

	top: 0px;

}

.title.title-center.header-item{
	color: #ef473a !important;
	text-align:center;
}

.button-clear.button-clear{
	color:#282f47;
}

.pg-heading{
	padding-left:16px;
	padding-top:0px;
}

.button.back-button .ion-arrow-left-c{
	font-size: 19px;
}

.bar .button.back-button, .bar button.back-button{
	font-size: 0;
	/* display:block !important; */
}

.bar.bar-header .title {
    display: none;
}
