<ion-view view-title="Update Order">
<div class="bar bar-header bar-positive"> 
<button class="button icon" ng-click="$ionicGoBack()"><i class="ion-arrow-left-c"></i></i></button> 
<h1 class="title">Update Order</h1>
</div>
    <ion-content class="appSpacingTop has-header">
		<div class="list list-inset entryCustom accept-order"  ng-controller="orderAcceptCtrl">
			<div ng-if="items5 && items5!=''" class="text-center msg-alrt col-12">{{items5}}</div>
			<div class="clearfix"></div>
			<form name="savetime" novalidate ng-submit="saveEstimateTime(savetime)">
				<!-- <label class="item item-input text-center time-unit" ng-class="{ 'has-errors' : savetime.estimate_time.$invalid && savetime.$submitted, 'no-errors' : savetime.estimate_time.$valid  && savetime.$submitted}">
					<input type="number" id="estimate_time" inputmode="numeric" pattern="[0-9]*" placeholder="Enter time until order ready (mins)" name="estimate_time" ng-model="estimate_time" required>
				</label> -->
				
				<label class="item item-input text-center time-unit">
					<input type="number" id="estimate_time" inputmode="numeric" pattern="[0-9]*" placeholder="Enter time until order ready (mins)" name="estimate_time" ng-model="estimate_time" required>
				</label>
				<label class="item noBorder">
					<!-- <button class="button button-block button-theme" type="submit" name="save_estimate_time">Save</button> -->
					<input class="button button-block button-theme" type="submit" name="save_estimate_time" value="Save" />
				</label>
			</form>
		</div> 
</ion-content> 
	
<ion-footer-bar align-title = "center" class = "bar-assertive">
<div class="button-bar">
  <button class="button button-positive button-clear icon ion-android-arrow-dropleft" ng-click="$ionicGoBack()"> Back</button>
</div>
</ion-footer-bar>
	
</ion-view>

