<ion-view view-title="Update Order">
<div class="bar bar-header bar-positive"> 
<button class="button icon" ng-click="$ionicGoBack()"><i class="ion-arrow-left-c"></i></i></button> 
<h1 class="title">Update Order</h1>
</div>
    <ion-content class="appSpacingTop has-header">
	
		<div class ="tabs dashboard-tabs"> 
		   <a class="tab-item active" href="#app/updateOrder={{items_edit.orderId}}">Payment and other details</a>
		   <a class="tab-item" href="#app/updateAddress={{items_edit.orderId}}">Pick-Up address</a> 
		</div> 
		<div class="list list-inset entryCustom accept-order"  ng-controller="updateOrderCtrl"> 
			<form name="updateorder" class="updateorder margin-btm-10" novalidate ng-submit="updateOrder(updateorder)"> 
				<label class="item item-select text-center" ng-class="{ 'has-errors' : updateorder.ordr_types.$invalid && updateorder.$submitted, 'no-errors' : updateorder.ordr_types.$valid  && updateorder.$submitted}">
					<div class="input-label select-title">Order Type</div> 
					 <select id="ordr_types" name="ordr_types">
						<option value='no'>Select</option>
						<option ng-repeat="item in ordrtypes" value="{{item.value}}" ng-selected="items_edit.ordr_type == item.value">{{item.name}}</option>
					</select>
				  </label>
				  
				  <label class="item item-select text-center" ng-class="{ 'has-errors' : updateorder.order_status.$invalid && updateorder.$submitted, 'no-errors' : updateorder.order_status.$valid  && updateorder.$submitted}">
					<div class="input-label select-title">Order Satus</div>
					<select id="order_status" name="order_status">
						<option value=''>Select</option>
						<option ng-repeat="ordStas in orderStatus" value="{{ordStas.value}}" ng-selected="items_edit.status == ordStas.value">{{ordStas.name}}</option>
					</select>
				  </label>
				  
				   <label class="item item-select text-center" ng-class="{ 'has-errors' : updateorder.product_description_show.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_description_show.$valid  && updateorder.$submitted}">
					<div class="input-label select-title">Is paid?</div>
					<select id="order_is_paid" name="order_is_paid">
						<option value='no'>Select</option>
						<option ng-repeat="item in isPaid" value="{{item.value}}" ng-selected="items_edit.is_paid == item.value">{{item.name}}</option>
					</select>
				  </label>
				 
				 <label class="item item-select text-center" ng-class="{ 'has-errors' : updateorder.product_description_show.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_description_show.$valid  && updateorder.$submitted}">
					<div class="input-label select-title">Payment Method</div>
					 <select id="paymentmethod" name="paymentmethod">
						<option value='no'>Select</option>
						<option ng-repeat="paymntMethd in paymentmethod" value="{{paymntMethd.value}}" ng-selected="items_edit.payment_method == paymntMethd.value">{{paymntMethd.name}}</option>
					</select>
				  </label> 
				 <label class="input-label field-head">Name</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.product_order.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_order.$valid  && updateorder.$submitted}">
					<input type="text" id="customer_name" placeholder="Customer name" name="customer_name" value="{{items_edit.c_name}}" >
				</label>  
				<label class="input-label field-head">Email</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.product_order.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_order.$valid  && updateorder.$submitted}">
					<input type="text" id="customer_email" name="customer_email" value="{{items_edit.c_email}}" >
				</label>
				<label class="input-label field-head">Phone</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.contact_number.$invalid && updateorder.$submitted, 'no-errors' : updateorder.contact_number.$valid  && updateorder.$submitted}">
					<input type="number" id="contact_number" inputmode="numeric" name="contact_number" value="{{items_edit.c_phone}}" >
				</label>   
				<label class="input-label field-head">Address 1</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.customer_address1.$invalid && updateorder.$submitted, 'no-errors' : updateorder.customer_address1.$valid  && updateorder.$submitted}">
					<input type="text" id="customer_address1" name="customer_address1" value="{{items_edit.c_address_1}}" >
				</label>
				<label class="input-label field-head">Address 2</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.customer_address2.$invalid && updateorder.$submitted, 'no-errors' : updateorder.customer_address2.$valid  && updateorder.$submitted}">
					<input type="text" id="customer_address2" name="customer_address2" value="{{items_edit.c_address_2}}" >
				</label>
				<label class="input-label field-head">State</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.product_order.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_order.$valid  && updateorder.$submitted}">
					<input type="text" id="state" name="state" value="{{items_edit.c_state}}" >
				</label>
				<label class="input-label field-head">City</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.product_order.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_order.$valid  && updateorder.$submitted}">
					<input type="text" id="city" name="city" value="{{items_edit.c_city}}" >
				</label>
				<label class="input-label field-head">Postal Code</label> 
				<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.product_order.$invalid && updateorder.$submitted, 'no-errors' : updateorder.product_order.$valid  && updateorder.$submitted}">
					<input type="text" id="postal" name="postal" value="{{items_edit.c_zip}}" >
				</label>  
				<div class="order-price-sec">
					<label class="input-label field-head">Subtotal</label> 
					<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.subtotal.$invalid && updateorder.$submitted, 'no-errors' : updateorder.subtotal.$valid  && updateorder.$submitted}">
						<input type="text" id="subtotal" name="subtotal" value="{{items_edit.subtotalPrice}}" >
					</label> 
					<label class="input-label field-head">Delivery</label> 
					<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.delivery.$invalid && updateorder.$submitted, 'no-errors' : updateorder.delivery.$valid  && updateorder.$submitted}">
						<input type="text" id="delivery" name="delivery" value="{{items_edit.price_delivery}}" >
					</label> 
					<label class="input-label field-head">Total</label> 
					<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.ordertotal.$invalid && updateorder.$submitted, 'no-errors' : updateorder.ordertotal.$valid  && updateorder.$submitted}">
						<input type="text" id="ordertotal" name="ordertotal" value="{{items_edit.price_total}}" >
					</label> 
					<label class="input-label field-head">Voucher Code</label> 
					<label class="item item-input text-center" ng-class="{ 'has-errors' : updateorder.voucher_code.$invalid && updateorder.$submitted, 'no-errors' : updateorder.voucher_code.$valid  && updateorder.$submitted}">
						<input type="text" id="voucher_code" name="voucher_code" value="{{items_edit.voucher_code}}" >
					</label>
				</div>
				 <label class="item item-input text-center created-on">{{items_edit.created_order_on}}</label>
				<label class="item noBorder">
					<button class="button button-block button-theme" type="submit" name="update_order">Update</button>
				</label>
			</form>
		</div> 
</ion-content> 
	
<ion-footer-bar align-title = "center" class = "bar-assertive">
<div class="button-bar">
  <button class="button button-positive button-clear icon ion-android-arrow-dropleft" ng-click="$ionicGoBack()"> Back</button>
</div>
</ion-footer-bar>
	
</ion-view>

